.grid_container{
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 10px;
    overflow-x: auto;
    width: 95vw;
   
}
@media (max-width:600px){
    .grid_container{
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: 300px 1fr;
        grid-template-columns: 1fr;
        row-gap: 10px;

    }
   
}

.branch_name{
    font-size: 20px  !important;
    font-weight: 500 !important;

}

.branches_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
 
    gap: 10px;
    padding-top: 10px;
    
}
.commitData{
    display: flex;
    flex-direction: column;
    
}
.file_name{
    font-size: 25px;
    font-weight: bold;
    color:hsl(var(--primary-color));
}
.full_page{
    height: 80vh;
    overflow-y: auto;
    margin-top: 9vh;
}
.branch_title{
    font-size: 30px;
    font-weight: 600;
}
.html_link{
    color:hsl(var(--primary-color));
    font-size: 20px !important;
    text-decoration: underline;
    font-weight: bold !important;

}