@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
 --primary-color:217,91%,60%;
 --secondary-color:217,33%,17%;
 --primary-color-darkTheme:199,89%,48%;

 --secondary-color-darkTheme:67,45,78;
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
   
   
  }
}

body {
 
  
 
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    
}
*,*::after,*::before{
 
 
}


.editprofile_button{
   
  border-radius: 5px ;
  padding: 10px;
  color: white !important;
  margin-top: 15px; 
 
 
  width: 100%;
  
  
}
.light{
  background-color: hsl(var(--primary-color)) !important;

}
.dark{
  background-color: hsl(var(--primary-color-darkTheme)) !important;

}


.repo_page,.repo_page_light{
  overflow-y: auto ;
  overflow-x: hidden;

  padding: 8px;
  width: 80vw; 
  height: 80vh;

}



.input_text{
box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
transition: transform 1s linear;
width: 40vw !important;
height: 35px;
}

.input_text:hover{
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
transform: scale(1.01);

}
.repo_button{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  color: white !important;

}

.repo_heading{
  font-size: 2rem;
  font-weight: 500 ;
  cursor: pointer;
 
  
}


.repo_page::-webkit-scrollbar{
  width: 5px;
}

.repo_page_light::-webkit-scrollbar{
width: 5px;
}


/* Track */
.repo_page::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
.repo_page_light::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.repo_page::-webkit-scrollbar-thumb {
  background: hsl(var(--primary-color)); 
  border-radius: 10px;
  cursor: pointer;
}
.repo_page_light::-webkit-scrollbar-thumb {
  background:  hsl(var(--primary-color-darkTheme)); 
  border-radius: 10px;
  cursor: pointer;
}



.user_avatar{
  position: absolute;
  left: 140px;
  top: -70px;
  cursor: pointer;
  transition: all 1s ease-in-out;
  border: .2rem solid white;

}
.user_avatar:hover{
 
  z-index: 9;
  transform: scale(2);
 
}


.login_card{

  border-radius: 20px ;
  padding: 5px;

  width: 36vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
 align-items: center;
 background: rgba(255, 255, 255, 0.5);
 box-shadow: 0 0px 7px 1px rgba(0, 0, 0, 0.5); 
border: 2px solid rgba(255, 255, 255,.5);


backdrop-filter: blur(100px);
z-index: 99999999;


}

.login_title{
font-weight: 800;
  color: hsl(var(--secondary-color));
  font-size: 1.5rem;
  margin-bottom: 2vh;
  margin-top: 2px;
 
}

.submit_button_email{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  flex-wrap: wrap;
}
.submit_button_footer{
  background-color: hsl(var(--secondary-color));
  color: white;
  padding: 2px;

}
.submit_button_footer:hover{
  box-shadow: 0 0 4px 0 hsl(var(--secondary-color));
}
.signup_link{
  font-weight: bold;
  font-size: 17px;
  color: hsl(var(--primary-color));
  text-decoration: underline;
}



.login_button:hover{
  box-shadow: 0 0 4px 0 hsl(var(--secondary-color));
}
.login_button{
  font-weight: bold;
  color: white;
  border-radius: .5rem;
  margin-top: 1px;
  background-color: hsl(var(--secondary-color));
  width: 200px;
  height: 50px ;
}

.extra_user_info{
  margin-top: 10px;
}

.hide{
  display: none !important;
}
.breadCrumb_items{
margin-right: auto;

margin-left: -130px;
margin-top: 30px;
}

.user_image{


border-radius: 50%;
margin-bottom: -5px;
border: .2rem solid white;

}

.pagination_button{

color: white !important;
margin: 10px !important;
}



.pagination {
display: flex;
justify-content: flex-end;
list-style: none;
cursor: pointer;
margin-top: 10px;
flex-wrap: wrap;
}

.pagination a {
padding: 10px;
border-radius: 5px;
border: 1px solid white;
color: hsl(var(--primary-color));
}
.pagination_light {
color: hsl(var(--primary-color-darkTheme)) !important;
}

.pagination__link {
font-weight: bold;
}
.pagination__link__active_light {
background: hsl(var(--primary-color-darkTheme)) !important;
}

.pagination__link__active a {
color: #fff;
background: hsl(var(--primary-color));
}

.pagination__link--disabled a {
color: rgb(198, 197, 202);
border: 1px solid rgb(198, 197, 202);
}

.spinner_style{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
flex-wrap: wrap;

}
.icon_button_navbar{
margin-top: 9px;
margin-right: 9px ;

}






.input_login{
border:2px solid white !important;
margin-bottom: 5px;
}
.input_login:hover, .input_login:focus{
border: 2px solid hsl(var(--primary-color)) !important;
}
.input_login::placeholder{
color: hsla(var(--secondary-color),.5) !important;
}
.input_label{
font-weight: 600 !important;
color: hsla(var(--secondary-color),1);
font-size: 20px;
margin-bottom: 2px;

}
.user_profile{
  background-color: rgba(255, 255, 255, 0.1) !important; 
  backdrop-filter: blur(10px) !important;
  box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.1);

  padding: 5px;
  border-radius: 10px;

  z-index: 999999999999999999;
  border-color: gray;
  
  margin-top: 10px;
  height: 80vh;

  
}

.user_name{
  font-size: 1.6rem !important;
  font-weight: bold;
  width: 100% !important;
 
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: hsl(var(--primary-color));
  color: white ;
  padding-left: 30px;
  padding-right: 30px;
  height: 8.5vh;

}




.branch_names{
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-bottom: .5px solid gray;
}




.login_notRight{
  font-size: 25px;
  color: red;

}

.user_details{
 display: flex;

 
 flex-wrap: wrap;
 margin-top: 10px;
 gap: 10px;
 min-width: 0px !important;
 

}
.user_details_items{
  flex-basis: 100%;
  text-overflow: ellipsis;
  overflow: auto;
  white-space: wrap;
  width: 100% !important;
  word-break: break-all;
  word-wrap: break-word;
 


}
.modal_error{
  text-align: center;
  font-size: 20px;
  color: red;
}



.search_navbar,.each_repo_details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 75vw;
  gap: 5px;
  
}



.circle{
  width: 10vw;
  height: 20vh;
  border-radius: 50%;
  

}
.one{
  background-color: hsl(var(--primary-color));
  position: absolute;
  top: 10%;
  left: 25%;
  box-shadow: hsl(var(--secondary-color))   0px 0px 20px 5px;
  animation-name: anim1;
  animation-duration: 24s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}
.two{
  background-color: hsl(var(--secondary-color)) ;
  position: absolute;
  top: 75%;
  right: 25%;
  box-shadow: hsl(var(--primary-color)) 0px 0px 20px 5px;
  animation-name: anim2;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.signOut{
  font-weight: bold;
  font-size: 1.3rem;
}

@keyframes anim1{
  0%{
    transform:translate(-10%,10%);
}
33%{
  transform:translate(10%,15%);
}
66%{
  transform:translate(20%,-10%);
}
100%{
  transform:translate(-10%,10%);
}

}

@keyframes anim2{
  0%{
    transform: translate(10%,10%);

  }
  33%{

    transform: translate(-5%,-5%);
  }
  66%{
    transform: translate(-15%,15%);

  }
  100%{
    transform: translate(10%,10%);

  }
}
@media (max-width:1000px) and (min-width:500px){
  .one, .two{
    display: none;
  }
  .user_profile{
    background-color: white !important;
    height: 80vh;
  }
  .each_repo_details{
    width: 69vw !important;
   
   }
}

@media (max-width:500px){

  .one,.two{
    display: none;
  }
 

}

@media  (max-width:1000px) and (min-width:650px){
 
  .login_card{
    width: 55vw;
    height: 70vh;
  
  }
  
  .footer_text{
    margin-left: 10px;
  
  }
  .input_login:hover, .input_login:focus{
    border: 2px solid hsl(var(--primary-color)) !important;
  }
  
  
  }

  @media (max-width:650px){
    .user_profile{
      background-color: white;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
     
      height: 200px !important;
      overflow-y: auto;
  
     }
     .repo_page,.repo_page_light{
      height: 50vh !important;
     }
    
   
  
  .footer_text{
    margin-left: 15px;
   
  }
  .login_card{
    width: 70vw;
    height: 70vh;
  
  }
  .input_login:hover, .input_login:focus{
    border: 2px solid hsl(var(--primary-color)) !important;
  }
  .input_login::placeholder{
    display: none;
    opacity: 0;
  }
  

  }













